<!-- each category page -->
{% if page.type %}
<!-- <div class="archive">
  <p class="archive_type">{{ page.type }}</p>
  <ul>
    {% for post in site.categories[page.type] %}
    {% if post.url %}
    <li>
        <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
        <div class='archive_title'>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          
          </a>
        </div>
      </li>
    {% endif %}
    {% endfor %}

  </ul>
</div> -->

<!-- <div class="archive">
  ssss
</div> -->

<!-- main page -->
{% else %}
<div class="changer">
  <label class="theme_changer">
    <input theme_toggle type="checkbox">
    <div class="button"></div>
  </label>
</div>

<div class="archive">
  <p class="archive_title">
    Biography
  </p>
  <p class="archive_text">
    I am a third-year undergraduate (Sep. 2020 - ) student 
  of College of Control Science and Engineering and Chu 
  Kochen Honor College at <a href="https://www.zju.edu.cn/">Zhejiang University</a>.
  I am currently majoring in Robotics Engineering, advised by Prof. 
  <a href="https://ywang-zju.github.io/">Yue Wang</a>.  Fortunately, I will start my Ph.D. journey 
  in 2024 Fall at <a href="http://mmlab.ie.cuhk.edu.hk/"> Multimedia Laboratory (MMLab)</a>
  of <a href="https://www.cuhk.edu.hk/english/index.html">The Chinese University of Hong Kong </a>, 
  supervised by <a href="https://tianfan.info/">Prof. Tianfan Xue</a>. Here is my Curriculum Vitae 
  [<a href="https://yutian10.github.io/assets/CV_YutianChen.pdf">pdf</a>].
  
  </p>
<!--   
  {% for post in site.posts %}
  {% unless post.next %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nextyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nextyear %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% endif %}
  {% endunless %}

  <ul>
    <li>
      <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
        {{ post.date | date: "%b %d" }}
        sssss
      </time>
      <div class='archive_title'>
        <a href='{{ post.url | relative_url }}'>
          {{ post.title | escape }}
        </a>
      </div>
    </li>
  </ul>
  {% endfor %} -->
</div>
{% endif %}