<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="content">

    {% include header.html %}

    {% include mobile_menu.html %}
    
    <main class="main">

    {{ content }}

    </main>

  </div>

  {% include footer.html %}
  {% include js.html %}
  <div style="text-align: center;">
    <a href='https://mapmyvisitors.com/web/1bvh5'  title='Visit tracker'><img src='https://mapmyvisitors.com/map.png?cl=ffffff&w=300&t=n&d=whROBzwbYNEISJtrpOSYJf8HGUBFewZkasFc6p6eEmI&co=2d78ad&ct=ffffff'/></a>
  </div>
</body>
</html>
